In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

df = pd.read_csv("kaggle_dataset\mobilePrice\mobilePrice.csv", sep=",")

df.head()

<>:4: SyntaxWarning: invalid escape sequence '\m'
<>:4: SyntaxWarning: invalid escape sequence '\m'
C:\Users\bhc02\AppData\Local\Temp\ipykernel_5188\3879862402.py:4: SyntaxWarning: invalid escape sequence '\m'
  df = pd.read_csv("kaggle_dataset\mobilePrice\mobilePrice.csv", sep=",")

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [45]:
#1. 미사용 컬럼 제거
df = df.drop(columns=['id', 'm_dep'])

In [46]:
#2. 결측치 처리
df.isna().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64

In [ ]:
#3. 이상치 처리

In [ ]:
#4. Feature Engineering
battery = df['talk_time'] / df['battery_power']
df['battery'] = battery * 100

camera = (df['fc'] + df['pc']) / 2
df['camera'] = camera

pixel = df['px_height'] * df['px_width']
pixel = pixel.replace(0, np.nan)
display_size = (df['sc_h'] + df['sc_w']) * 100000
display = display_size / pixel
df['display'] = display

np.int64(0)

In [58]:
#5. 정규화

num_cols = [
    'battery',
    'clock_speed',
    'camera',
    'display',
    'int_memory',
    'mobile_wt',
    'n_cores',
    'ram'
]

for col in num_cols:
    mean = df[col].mean()
    std = df[col].std()
    df[col] = (df[col] - mean) / std

df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,mobile_wt,n_cores,pc,...,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,battery,camera,display
0,1043,1,0.312444,1,14,0,-1.580478,1.534767,-0.580380,16,...,1.228758,12,7,2,0,1,0,-1.228616,1.592500,-0.123962
1,841,1,-1.255204,1,4,1,1.508548,1.477381,0.293686,12,...,1.613836,6,0,7,1,0,0,-0.275648,0.140341,-0.238953
2,1807,1,1.518328,0,1,0,-0.366932,1.333915,-0.580380,4,...,0.236195,17,10,10,0,1,1,-0.690610,-1.000641,-0.224788
3,1546,0,-1.255204,1,18,1,-0.477254,-1.248467,1.604787,20,...,1.611997,10,0,7,1,1,0,-0.840300,2.422305,-0.216110
4,1434,0,-0.169909,0,11,1,0.846614,-0.904149,0.730720,18,...,-0.336367,15,8,7,1,0,1,-0.787692,1.488774,-0.173552

In [ ]:
#머지