In [123]:
import pandas as pd
import numpy as np

# 1. íšŒì› ì •ë³´ (IDê°€ 'User_ID')
df_user = pd.DataFrame({
    'User_ID': [101, 102, 103, 104, 105],
    'Name': ['Kevin', 'Tom', 'Alice', 'Mike', 'Sarah'],
    'Region': ['Seoul', 'Busan', 'Seoul', 'Seoul', 'Daegu'],
    'Reg_Date': ['2024-01-01', '2024-01-02', '2024-01-05', '2024-01-07', '2024-01-10']
})

# 2. ì£¼ë¬¸ ë‚´ì—­ (íšŒì›IDê°€ 'ID'ë¡œ ë˜ì–´ ìˆìŒ - ë¶ˆì¼ì¹˜!)
df_order = pd.DataFrame({
    'Order_ID': ['ORD-001', 'ORD-002', 'ORD-003', 'ORD-004', 'ORD-005', 'ORD-006'],
    'ID': [101, 102, 101, 104, 101, 105], # 103ë²ˆ AliceëŠ” ì£¼ë¬¸ ì•ˆ í•¨ (Ghost)
    'Product': ['Laptop', 'Phone', 'Mouse', 'Laptop', 'Phone', 'Mouse'],
    'Amount': [1500, 800, 50, 1500, 800, 50],
    'Order_Date': ['2024-01-10', '2024-01-11', '2024-01-12', '2024-02-01', '2024-02-05', '2024-02-10']
})

# 3. ì›”ë³„ ë§¤ì¶œ ëª©í‘œ (ê°€ë¡œë¡œ ê¸´ Wide Format)
df_target = pd.DataFrame({
    'Region': ['Seoul', 'Busan', 'Daegu'],
    'Jan': [5000, 2000, 1000], # 1ì›” ëª©í‘œ
    'Feb': [6000, 2500, 1500]  # 2ì›” ëª©í‘œ
})

print("--- 1. íšŒì› ì •ë³´ ---")
print(df_user.head(2))
print("\n--- 2. ì£¼ë¬¸ ë‚´ì—­ ---")
print(df_order.head(2))
print("\n--- 3. ë§¤ì¶œ ëª©í‘œ (Wide) ---")
print(df_target)

--- 1. íšŒì› ì •ë³´ ---
   User_ID   Name Region    Reg_Date
0      101  Kevin  Seoul  2024-01-01
1      102    Tom  Busan  2024-01-02

--- 2. ì£¼ë¬¸ ë‚´ì—­ ---
  Order_ID   ID Product  Amount  Order_Date
0  ORD-001  101  Laptop    1500  2024-01-10
1  ORD-002  102   Phone     800  2024-01-11

--- 3. ë§¤ì¶œ ëª©í‘œ (Wide) ---
  Region   Jan   Feb
0  Seoul  5000  6000
1  Busan  2000  2500
2  Daegu  1000  1500

In [124]:
#1. ë°ì´í„° ë³‘í•© : df_orderí…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ df_userì„ í•©ì³ë¼
df_merged = pd.merge(df_order, df_user,
                    how = 'left', #ì£¼ë¬¸ë‚´ì—­ ëª¨ë‘ ì‚´ë¦¬ê¸°
                    left_on='ID', 
                    right_on = 'User_ID', #ê°™ì€ User_IDì˜ ì»¬ëŸ¼ëª…ì´ ë‹¬ë¼ ì§€ì •í•´ì¤Œ
                    suffixes =('_Order', '_Reg')) #ë‹¤ë¥¸ ëœ»ì˜ Dateì»¬ëŸ¼ì— ì´ë¦„ì„ ë¶™ì—¬ ë³‘í•©
print("--- ì£¼ë¬¸ + íšŒì› ì •ë³´ ---")
print(df_merged)

--- ì£¼ë¬¸ + íšŒì› ì •ë³´ ---
  Order_ID   ID Product  Amount  Order_Date  User_ID   Name Region    Reg_Date
0  ORD-001  101  Laptop    1500  2024-01-10      101  Kevin  Seoul  2024-01-01
1  ORD-002  102   Phone     800  2024-01-11      102    Tom  Busan  2024-01-02
2  ORD-003  101   Mouse      50  2024-01-12      101  Kevin  Seoul  2024-01-01
3  ORD-004  104  Laptop    1500  2024-02-01      104   Mike  Seoul  2024-01-07
4  ORD-005  101   Phone     800  2024-02-05      101  Kevin  Seoul  2024-01-01
5  ORD-006  105   Mouse      50  2024-02-10      105  Sarah  Daegu  2024-01-10

In [125]:
#2. êµ¬ë§¤ ì•ˆí•œ ìœ ë ¹ íšŒì› ì°¾ê¸°
df_ghost = pd.merge(df_user, df_order,
                    left_on='User_ID', 
                    right_on = 'ID',
                    how = 'outer',
                    indicator=True) #ê°€ì…ì€ ë˜ì–´ìˆì§€ë§Œ ì£¼ë¬¸ì´ ì—†ìŒ(left_only)ì¸ ì‚¬ëŒ
print("--- íšŒì› + ì£¼ë¬¸ ì •ë³´ ---")
print(df_ghost)

--- íšŒì› + ì£¼ë¬¸ ì •ë³´ ---
   User_ID   Name Region    Reg_Date Order_ID     ID Product  Amount  \
0      101  Kevin  Seoul  2024-01-01  ORD-001  101.0  Laptop  1500.0
1      101  Kevin  Seoul  2024-01-01  ORD-003  101.0   Mouse    50.0
2      101  Kevin  Seoul  2024-01-01  ORD-005  101.0   Phone   800.0
3      102    Tom  Busan  2024-01-02  ORD-002  102.0   Phone   800.0
4      103  Alice  Seoul  2024-01-05      NaN    NaN     NaN     NaN
5      104   Mike  Seoul  2024-01-07  ORD-004  104.0  Laptop  1500.0
6      105  Sarah  Daegu  2024-01-10  ORD-006  105.0   Mouse    50.0

   Order_Date     _merge
0  2024-01-10       both
1  2024-01-12       both
2  2024-02-05       both
3  2024-01-11       both
4         NaN  left_only
5  2024-02-01       both
6  2024-02-10       both

In [126]:
#3. ë°ì´í„° êµ¬ì¡° ë³€ê²½(Melt)
df_target_long = df_target.melt(
    id_vars='Region',
    var_name='Month',
    value_name='Target_Amount'
    )
print(df_target_long)

  Region Month  Target_Amount
0  Seoul   Jan           5000
1  Busan   Jan           2000
2  Daegu   Jan           1000
3  Seoul   Feb           6000
4  Busan   Feb           2500
5  Daegu   Feb           1500

In [127]:
#4. ë°ì´í„° ìš”ì•½(Pivot)
df_pivot = df_merged.pivot_table(
    index = 'Region',
    columns = 'Product',
    values = 'Amount',
    aggfunc = 'sum',
    fill_value = 0
    )
print(df_pivot)

Product  Laptop  Mouse  Phone
Region
Busan         0      0    800
Daegu         0     50      0
Seoul      3000     50    800

In [128]:
#melt, pivot ì¶”ê°€ ì‹¤ìŠµ


# í”„ëœì°¨ì´ì¦ˆ ê°€ë§¹ì  ë§¤ì¶œ ë°ì´í„°
pc_data = {
    'Branch': ['Gangnam', 'Gangnam', 'Hongdae', 'Hongdae', 'Itaewon', 'Itaewon'],
    'Menu': ['Americano', 'Latte', 'Americano', 'Latte', 'Americano', 'Latte'],
    'Q1': [2500, 1800, 2200, 1700, 3000, 2100],
    'Q2': [2600, 1900, 2300, 1750, 3100, 2200],
    'Q3': [3000, 2200, 2500, 2000, 3500, 2500], # ì—¬ë¦„ ì„±ìˆ˜ê¸° ë§¤ì¶œ ì¦ê°€
    'Q4': [2800, 2100, 2400, 1900, 3300, 2300]
}

pc_df = pd.DataFrame(pc_data)

print("--- ğŸ“„ ì›ë³¸ ë°ì´í„° (Wide Format) ---")
# print(pc_df)

#melt : ë¶„ê¸°ë³„ ë§¤ì¶œ í™•ì¸
pc_df_long = pc_df.melt(
    id_vars = ('Branch', 'Menu'),
    var_name = 'Quarter',
    value_name = 'Sales'
)
print('\n---ë¶„ê¸°ë³„ ë§¤ì¶œ í™•ì¸ ---')
# print(pc_df_long)
#pivot : ì§€ì ë³„ë¡œ ë¶„ê¸°ë³„ ì´ ë§¤ì¶œ í™•ì¸
pc_df_wide = pc_df_long.pivot_table(
    index = 'Branch',
    columns = 'Quarter',
    values = 'Sales',
    aggfunc = 'sum',
    fill_value = 0,
    margins = True,
    margins_name = 'ì´í•©ê³„'
)
print('\n---ì§€ì ë³„ë¡œ ë¶„ê¸°ë³„ ì´ ë§¤ì¶œ í™•ì¸ ---')
print(pc_df_wide)

--- ğŸ“„ ì›ë³¸ ë°ì´í„° (Wide Format) ---

---ë¶„ê¸°ë³„ ë§¤ì¶œ í™•ì¸ ---

---ì§€ì ë³„ë¡œ ë¶„ê¸°ë³„ ì´ ë§¤ì¶œ í™•ì¸ ---
Quarter     Q1     Q2     Q3     Q4    ì´í•©ê³„
Branch
Gangnam   4300   4500   5200   4900  18900
Hongdae   3900   4050   4500   4300  16750
Itaewon   5100   5300   6000   5600  22000
ì´í•©ê³„      13300  13850  15700  14800  57650