In [43]:
import pandas as pd
import numpy as np

# 영업팀 실적 데이터
data = {
    'Team': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'C'],
    'Employee': ['Kevin', 'Tom', 'Jerry', 'Mike', 'Sarah', 'Bob', 'Alice', 'Jenny', 'David', 'Chris'],
    'Sales': [1200, 1500, 800, 2000, 2100, 1800, 500, 400, 300, np.nan],
    'Bonus_Target': [1000, 1000, 1000, 2000, 2000, 2000, 500, 500, 500, 500]
}

df = pd.DataFrame(data)

print("--- 원본 영업 데이터 ---")
print(df)

--- 원본 영업 데이터 ---
  Team Employee   Sales  Bonus_Target
0    A    Kevin  1200.0          1000
1    A      Tom  1500.0          1000
2    A    Jerry   800.0          1000
3    B     Mike  2000.0          2000
4    B    Sarah  2100.0          2000
5    B      Bob  1800.0          2000
6    C    Alice   500.0           500
7    C    Jenny   400.0           500
8    C    David   300.0           500
9    C    Chris     NaN           500

In [44]:
#1. 팀별 성과표 만들기
df_team_score = df.groupby('Team', as_index=False).agg(
    {'Sales' : ('sum','mean'),
     'Employee' : 'count'}
)
print(df_team_score)

  Team   Sales              Employee
           sum         mean    count
0    A  3500.0  1166.666667        3
1    B  5900.0  1966.666667        3
2    C  1200.0   400.000000        4

In [45]:
#2. 결측치를 평균으로 변환
df['Sales'] = df['Sales'].fillna(df.groupby('Team')['Sales'].transform('mean'))
    #결측치를 채우겠다 -> 뭐로?
    #'Team'으로 그룹화 한것을 'Sales'의 평균으로
print(df)

  Team Employee   Sales  Bonus_Target
0    A    Kevin  1200.0          1000
1    A      Tom  1500.0          1000
2    A    Jerry   800.0          1000
3    B     Mike  2000.0          2000
4    B    Sarah  2100.0          2000
5    B      Bob  1800.0          2000
6    C    Alice   500.0           500
7    C    Jenny   400.0           500
8    C    David   300.0           500
9    C    Chris   400.0           500

In [46]:
#3. 팀 내 기여도 계산
df['Share'] = df['Sales'] / df.groupby('Team')['Sales'].transform('sum')
print(df)

  Team Employee   Sales  Bonus_Target     Share
0    A    Kevin  1200.0          1000  0.342857
1    A      Tom  1500.0          1000  0.428571
2    A    Jerry   800.0          1000  0.228571
3    B     Mike  2000.0          2000  0.338983
4    B    Sarah  2100.0          2000  0.355932
5    B      Bob  1800.0          2000  0.305085
6    C    Alice   500.0           500  0.312500
7    C    Jenny   400.0           500  0.250000
8    C    David   300.0           500  0.187500
9    C    Chris   400.0           500  0.250000

In [47]:
#4. 팀 평균 매출 1000 미만인 팀 데이터 삭제
df_survivor = df.groupby('Team').filter(lambda x : x['Sales'].mean() > 1000)
print(df_survivor)

  Team Employee   Sales  Bonus_Target     Share
0    A    Kevin  1200.0          1000  0.342857
1    A      Tom  1500.0          1000  0.428571
2    A    Jerry   800.0          1000  0.228571
3    B     Mike  2000.0          2000  0.338983
4    B    Sarah  2100.0          2000  0.355932
5    B      Bob  1800.0          2000  0.305085