In [47]:
import numpy as np
import pandas as pd #pip install pandas
from scipy.stats import spearmanr #pip install scipy
np.set_printoptions(precision=3)

In [48]:


data = np.array([
# year, sales, revenue, profit, A_cnt, B_cnt, C_cnt, A_cost, B_cost, C_cost, X_sales, Y_sales, Z_sales
    [2018, 120000, 330000000,  52000000, 12,  4,  3, 20000000, 10000000, 3000000, 50000, 40000, 30000],
    [2019, 150000, 360000000,  58000000, 10,  5,  6, 20000000, 10000000, 3000000, 60000, 50000, 40000],
    [2020, 180000, 380000000,  62000000,  8,  7, 10, 20000000, 10000000, 3000000, 70000, 60000, 50000],
    [2021, 165000, 350000000,  55000000,  9,  5, 15, 20000000, 10000000, 3000000, 65000, 55000, 45000],
    [2022, 180000, 380000000,  48000000,  6,  7, 20, 20000000, 10000000, 3000000, 60000, 50000, 40000],
    [2023, 300000, 470000000,  90000000,  4,  10, 26, 20000000, 10000000, 3000000,130000, 90000, 80000]
])


# 데이터 특징
columns = [
    "년도(0)",
    "판매량(1)",
    "매출(2)",
    "순이익(3)",
    "광고A횟수(4)",
    "광고B횟수(5)",
    "광고C횟수(6)",
    "광고A단가(7)",
    "광고B단가(8)",
    "광고C단가(9)",
    "지역X판매량(10)",
    "지역Y판매량(11)",
    "지역Z판매량(12)"
]
year = data[:,0]
sales = data[:,1]
revenue = data[:,2]
profit = data[:,3]
adAcnt = data[:,4]
adBcnt = data[:,5]
adCcnt = data[:,6]
adAcost = data[:,7]
adBcost = data[:,8]
adCcost = data[:,9]
Xsales = data[:,10]
Ysales = data[:,11]
Zsales = data[:,12]

#새로운 값 데이터에 추가하기
new_profit = revenue - (adAcnt * adAcost + adBcnt * adBcost + adCcnt * adCcost)
data[:,3] = new_profit


#pandas사용해서 표로 확인하기
df = pd.DataFrame(data, columns=columns)
df

,년도(0),판매량(1),매출(2),순이익(3),광고A횟수(4),광고B횟수(5),광고C횟수(6),광고A단가(7),광고B단가(8),광고C단가(9),지역X판매량(10),지역Y판매량(11),지역Z판매량(12)
0,2018,120000,330000000,41000000,12,4,3,20000000,10000000,3000000,50000,40000,30000
1,2019,150000,360000000,92000000,10,5,6,20000000,10000000,3000000,60000,50000,40000
2,2020,180000,380000000,120000000,8,7,10,20000000,10000000,3000000,70000,60000,50000
3,2021,165000,350000000,75000000,9,5,15,20000000,10000000,3000000,65000,55000,45000
4,2022,180000,380000000,130000000,6,7,20,20000000,10000000,3000000,60000,50000,40000
5,2023,300000,470000000,212000000,4,10,26,20000000,10000000,3000000,130000,90000,80000

In [49]:
#spearman
    #rho : spearman 상관계수 , -1 ~ 1
        #1 : 완전한 양의 상관관계(1에 가까울 수록 강한 양의 상관관계)
        #-1 : 완전한 음의 상관관계
    #p-value : 이 관계가 우연일 확률
        #보통 기준 : 0.05 / 이상이면 우연일 가능성이 큼 -> 상관관계가 없다 판단


#1. 어떤 광고가 매출에 가장 큰 영향을 미치는가?
rho_A, p_A = spearmanr(adAcnt, revenue)
print("광고 A ↔ 매출 Spearman:", rho_A, "p-value:", p_A)
rho_B, p_B = spearmanr(adBcnt, revenue)
print("광고 B ↔ 매출 Spearman:", rho_B, "p-value:", p_B)
rho_C, p_C = spearmanr(adCcnt, revenue)
print("광고 C ↔ 매출 Spearman:", rho_C, "p-value:", p_C)

광고 A ↔ 매출 Spearman: -0.9276336570439175 p-value: 0.007665844187473165
광고 B ↔ 매출 Spearman: 0.985184366143778 p-value: 0.00032762847175466783
광고 C ↔ 매출 Spearman: 0.7826908981308054 p-value: 0.06570384807158906

광고 A : 매년 횟수를 줄여나갔음에도 매출이 증가 (음의 상관관계)

광고B : 매년 횟수를 늘려갈수록 매출도 강하게 증가 / 횟수를 줄이니 매출도 감소

광고C : 매년 횟수를 늘려갈수록 매출도 증가했으나
횟수를 늘렸음에도 매출이 감소한 해가 있는걸로 보아 우연일 확률 있음

In [50]:
#2. 어떤 광고가 순이익에 가장 큰 영향을 미치는가?
rho_A, p_A = spearmanr(adAcnt, profit)
print("광고 A ↔ 순이익 Spearman:", rho_A, "p-value:", p_A)
rho_B, p_B = spearmanr(adBcnt, profit)
print("광고 B ↔ 순이익 Spearman:", rho_B, "p-value:", p_B)
rho_C, p_C = spearmanr(adCcnt, profit)
print("광고 C ↔ 순이익 Spearman:", rho_C, "p-value:", p_C)

광고 A ↔ 순이익 Spearman: -0.942857142857143 p-value: 0.0048046647230320545
광고 B ↔ 순이익 Spearman: 0.9710083124552246 p-value: 0.0012485929031976688
광고 C ↔ 순이익 Spearman: 0.8285714285714287 p-value: 0.04156268221574334

매출과 순이익은 비슷한 결과를 보임
광고 C는 매출에는 불안정하지만 순이익에는 기여도가 안정적인
"저비용, 보조형" 광고임을 알 수 있다